<div class='articles'>
  <h2>{{title}}</h2>
  <div>By: {{author}}</div>
  <br>
  <div> {{body}}</div>
</div>
<br>
<form action='/articles/{{urlTitle}}/edit?_method=GET' method='POST'>
  <input type='hidden' name='title' value='{{title}}'>
  <input type='hidden' name='author' value='{{author}}'>
  <input type='hidden' name='body' value='{{body}}'>
  <input type='hidden' name='urlTitle' value='{{urlTitle}}'>
  <input type='submit' value='Edit'>
</form>